<div class="d-flex align-items-center" style="height: 100vh;">
    <div class="container">
        <div class="row">
            <div class="col"></div>
            <div class="col">
                <form class="border p-4 rounded">
                    <div class="text-danger" *ngIf="check==false">Sifre veya TC Yanlis</div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">TC Numarasi</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" name="tc_no" [(ngModel)]="login.tc_no">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" name="sifre"  [(ngModel)]="login.sifre">
                    </div>
                   
                    <button type="submit" class="btn btn-primary" (click)="loginProcess()">Submit</button>
                </form>
            </div>
            <div class="col"></div>
        </div>
    </div>
</div>
